#textdomain wesnoth-vampirism
[textdomain]
    name="wesnoth-vampirism"
    path="data/add-ons/Vampirism/translations"
[/textdomain]

[binary_path]
    path=data/add-ons/Vampirism/
[/binary_path]

[modification]
    id=Vampirism_Mod
    name= _ "Vampirism"
    type=hybrid
    require_modification=yes#the mod will probably use some custom icons for the skills
    description=_"TODO"
    [options]
        [checkbox]
            id=vampirism_todo
            name=_"TODO"
            description=_"TODO"
            default=no
        [/checkbox]
    [/options]
    {~add-ons/Vampirism/vampire_events.cfg}
    {~add-ons/Vampirism/upgrades_menu.cfg}
    {~add-ons/Vampirism/powers_and_skills.cfg}
[/modification]

