#textdomain wesnoth-vampirism

#define FIND_VALID_ENEMY_SIDE_FOR_HUNTERS
{VARIABLE vampirism_hunter_side 0}#reset side

#hunters try to find the first side that is opposed to vampires 
[store_side]
	[enemy_of]
		[has_unit]
			ability=vampirism
		[/has_unit]
	[/enemy_of]
	[not]
		[has_unit]
			ability=vampirism
		[/has_unit]
	[/not]
	variable=tmp_vampirism_valid_hunter_sides
[/store_side]

{VARIABLE vampirism_hunter_side $tmp_vampirism_valid_hunter_sides[0].side|}

{CLEAR_VARIABLE tmp_vampirism_valid_hunter_sides}
#enddef

#define SPAWN_HUNTER_ATTEMPT RADIUS
    [if]
        [have_unit]
            id=dummy_vampirism_hunterspawn_loc
        [/have_unit]
        [else]
            {SCATTER_UNITS 1 "Fog Clearer" 1 (
                [not]
                    [filter]
                    [/filter]
                [/not]
                [not]
                    [filter]
                    	ability=vampirism
                    [/filter]
                    radius={RADIUS}
                [/not]
            ) (
            	id=dummy_vampirism_hunterspawn_loc
                side=$vampirism_hunter_side
            )}
        [/else]
    [/if]
#enddef

#define FIND_VALID_SPAWN_AREA_FOR_HUNTERS
	{FIND_VALID_ENEMY_SIDE_FOR_HUNTERS}
	{CLEAR_VARIABLE vampirism_hunterspawn_x}
	{CLEAR_VARIABLE vampirism_hunterspawn_y}
	{IF_VAR vampirism_hunter_side greater_than 0 (
	[then]
        #adding gradually less strict filters, if the event can't place a dummy unit. tries to spawn the hunters far from the vampire when possible
        {SPAWN_HUNTER_ATTEMPT 40}
        {SPAWN_HUNTER_ATTEMPT 35}
        {SPAWN_HUNTER_ATTEMPT 30}
        {SPAWN_HUNTER_ATTEMPT 25}
        {SPAWN_HUNTER_ATTEMPT 20}
        {SPAWN_HUNTER_ATTEMPT 15}
        {SPAWN_HUNTER_ATTEMPT 10}
        {SPAWN_HUNTER_ATTEMPT 7}

       [store_unit]
           [filter]
               id=dummy_vampirism_hunterspawn_loc
           [/filter]
           variable=vampirism_hunterloc
           kill=yes
       [/store_unit]
       {VARIABLE vampirism_hunterspawn_x $vampirism_hunterloc.x}
       {VARIABLE vampirism_hunterspawn_y $vampirism_hunterloc.y}
       {CLEAR_VARIABLE vampirism_hunterloc}
	[/then]
	)}
#enddef

#define CALCULATE_hunter_power POWER_DEFAULT
{VARIABLE hunter_power {POWER_DEFAULT}}
{VARIABLE_OP hunter_power multiply $hunter_power_multiplier}
{VARIABLE_OP hunter_power round floor}
#enddef


#define SPAWN_HUNTER_UNITS TYPE_LIST
[while]
	{VARIABLE_CONDITIONAL hunter_power greater_than 0}
	[do]
    {VARIABLE_OP tmp_hunter_type rand {TYPE_LIST}}
    [unit]
    	type=$tmp_hunter_type
        side=$vampirism_hunter_side
        x,y=$vampirism_hunterspawn_x|,$vampirism_hunterspawn_x|
        generate_name=yes
        random_traits=yes
        random_gender=yes
        animate=yes
        to_variable=tmp_vamphunter#the unit isn't immediately spawned on the map, so level can be calculated
    [/unit]

    {IF_VAR tmp_vamphunter.level equals 0 (
    [then]
    {VARIABLE_OP hunter_power sub 0.5}
    [/then]
    [else]
    {VARIABLE_OP hunter_power sub $tmp_vamphunter.level}
    [/else]
    )}

    [unstore_unit]
        variable=tmp_vamphunter
        find_vacant=yes
    [/unstore_unit]   
    {CLEAR_VARIABLE tmp_vamphunter}
    {CLEAR_VARIABLE tmp_hunter_type}
[/do]
[/while]
#enddef

[event]
	name=turn 2
	id=vampirism_hunter_spawn_test
	first_time_only=no
	[filter_condition]
		{VARIABLE_CONDITION vampirism_vamphunters equals yes}
	[/filter_condition]
	{FIND_VALID_SPAWN_AREA_FOR_HUNTERS}

	{IF_VAR vampirism_hunter_side greater_than 0 (
	[and]
		{VARIABLE_CONDITIONAL vampirism_hunterspawn_x greater_than 0}
	[/and]
	[then]
		{VARIABLE hunter_power 10}
		{SPAWN_HUNTER_UNITS "Paladin,Mage of Light,White Mage,Pikeman,Knight,Spearman,Bowman,Peasant"}
	[/then]
	)}
[/event]