#textdomain wesnoth-vampirism

#define VAMPIRISM_FIND_VALID_ENEMY_SIDE_FOR_HUNTERS
{VARIABLE vampirism_hunter_side 0}#reset side

#hunters try to find the first side that is opposed to vampires 
[store_side]
	[enemy_of]
		[has_unit]
			ability=vampirism
		[/has_unit]
	[/enemy_of]
	[not]
		[has_unit]
			ability=vampirism
		[/has_unit]
	[/not]
	variable=tmp_vampirism_valid_hunter_sides
[/store_side]

{VARIABLE vampirism_hunter_side $tmp_vampirism_valid_hunter_sides[0].side|}

{CLEAR_VARIABLE tmp_vampirism_valid_hunter_sides}
#enddef

#define VAMPIRISM_SPAWN_HUNTER_ATTEMPT DISTANCE_TO_VAMPIRE DISTANCE_TO_OTHER_SQUADS
    [if]
        [have_unit]
            ability=dummy_vampirism_hunterspawn_loc
        [/have_unit]
        [then]
        [/then]
        [else]
#        	[chat]
#        		message=_"attempting to spawn with the minimum distance to vampire {DISTANCE_TO_VAMPIRE} and distance to squad {DISTANCE_TO_OTHER_SQUADS}"
#        	[/chat]
		[store_locations]
            [filter]
            [filter_side]
            [has_unit]
            	ability=vampirism
            [/has_unit]
            [/filter_side]
            #don't spawn hunters close to allies of vampire sides either, since that would be a bit unfair in missions where you have to protect allies
            [or]
            [filter_side]
            [allied_with]
            [has_unit]
            	ability=vampirism
            [/has_unit]
	        [/allied_with]
            [/filter_side]
            [/or]
	        [/filter]
            radius={DISTANCE_TO_VAMPIRE}
		    variable=tmp_too_close_to_vampire
		[/store_locations]
		[store_locations]
            [filter]
            	ability=vampirism_vampirehunter
            	side=$vampirism_hunter_side#to ensure it doesn't trigger on Enthralled hunter units
            [/filter]
            radius={DISTANCE_TO_OTHER_SQUADS}
		    variable=tmp_too_close_to_other_squads
		[/store_locations]

            {SCATTER_UNITS 1 "Vampirism_Dummy_Unit" 1 (
                [not]
                	find_in=tmp_too_close_to_vampire
                [/not]
                [not]
                	find_in=tmp_too_close_to_other_squads
                [/not]
            ) (
                side=$vampirism_hunter_side
        		[modifications]
   				[object]
  				    silent=yes
  				    duration=forever
  				    [effect]
  				        apply_to=new_ability
  				        [abilities]
  				          [dummy]
  				             id=dummy_vampirism_hunterspawn_loc
  				          [/dummy]
  				        [/abilities]
  				    [/effect]
  				[/object]
        		[/modifications]
            )}
        [/else]
    [/if]
    {CLEAR_VARIABLE tmp_too_close_to_vampire}
    {CLEAR_VARIABLE tmp_too_close_to_other_squads}
#enddef

#define VAMPIRISM_FIND_VALID_SPAWN_AREA_FOR_HUNTERS
	{VAMPIRISM_FIND_VALID_ENEMY_SIDE_FOR_HUNTERS}
	{CLEAR_VARIABLE vampirism_hunterspawn_x}
	{CLEAR_VARIABLE vampirism_hunterspawn_y}
	{IF_VAR vampirism_hunter_side greater_than 0 (
	[then]
        #adding gradually less strict filters, if the event can't place a dummy unit. tries to spawn the hunters far from the vampire and his units
        {VAMPIRISM_SPAWN_HUNTER_ATTEMPT 25 16}
        {VAMPIRISM_SPAWN_HUNTER_ATTEMPT 20 12}
        {VAMPIRISM_SPAWN_HUNTER_ATTEMPT 16 10}
        {VAMPIRISM_SPAWN_HUNTER_ATTEMPT 14 9}
        {VAMPIRISM_SPAWN_HUNTER_ATTEMPT 12 8}
        {VAMPIRISM_SPAWN_HUNTER_ATTEMPT 10 5}
        {VAMPIRISM_SPAWN_HUNTER_ATTEMPT 8 0}
        [store_unit]
           [filter]
               ability=dummy_vampirism_hunterspawn_loc
           [/filter]
           variable=vampirism_hunterloc
           kill=yes
        [/store_unit]
        {VARIABLE vampirism_hunterspawn_x $vampirism_hunterloc.x}
        {VARIABLE vampirism_hunterspawn_y $vampirism_hunterloc.y}
#        	[chat]
#        		message=_"found hunterspawn location: $vampirism_hunterspawn_x|,$vampirism_hunterspawn_y|"
#        	[/chat]
        {CLEAR_VARIABLE vampirism_hunterloc}

	[/then]
	)}
#enddef

#define VAMPIRISM_FIND_HIGHEST_VAMPIRE_LEVEL
	{VARIABLE tmp_highest_vampire_level 0}
	[store_unit]
		[filter]
			ability=vampirism
		[/filter]
		variable=tmp_checked_vampires_for_level
		kill=no
	[/store_unit]
    [foreach]
        array=tmp_checked_vampires_for_level
        index_var=i
        [do]
        	{IF_VAR this_item.variables.vampirism_level greater_than $tmp_highest_vampire_level (
        	[then]
        		{VARIABLE tmp_highest_vampire_level $this_item.variables.vampirism_level}
        	[/then]
        	)}
        [/do]
    [/foreach]
    {CLEAR_VARIABLE tmp_checked_vampires_for_level}
#enddef




#define VAMPIRISM_CALCULATE_VAMPIRE_HUNTER_GOLD
{VARIABLE vampire_hunter_gold 0}

{VAMPIRISM_FIND_HIGHEST_VAMPIRE_LEVEL}
{VARIABLE tmp_enemy_total_gold 0}

{VARIABLE_OP vampire_hunter_gold add $vampirism_vamphunters_starting_gold}
{VARIABLE_OP vampire_hunter_gold add "$($vampirism_hunter_completed_scenarios_amount * $vampirism_vamphunters_gold_per_scenario)"}
{VARIABLE_OP vampire_hunter_gold add "$($tmp_highest_vampire_level * $vampirism_vamphunters_gold_per_highest_level)"}

#{VARIABLE_OP vampire_hunter_gold multiply $vampire_hunter_gold_multiplier}
{VARIABLE_OP vampire_hunter_gold round floor}

#[chat]
#	message=_"hunter gold: $vampire_hunter_gold|, starting gold $vampirism_vamphunters_starting_gold|"
#[/chat]

{CLEAR_VARIABLE tmp_highest_vampire_level}
{CLEAR_VARIABLE tmp_enemy_total_gold}
#enddef

#define WEAPON_SPECIAL_ANTI_VAMPIRE
   	[damage]
   	    id=vampirism_antivampire
   	    name=_"anti-vampire"
   	    description= _ "This attack deals 50% more damage against vampires."
   	    multiply=1.5
   	    [filter_opponent]
   	    	ability=vampirism
   	    [/filter_opponent]
   	[/damage]
#enddef


#define VAMPIRISM_SPAWN_HUNTER_UNITS TYPE_LIST
[while]
	{VARIABLE_CONDITIONAL vampire_hunter_gold greater_than 0}
#	[and]
#		{VARIABLE_CONDITIONAL vampirism_hunterspawn_x greater_than 0}
#	[/and]
	[do]
    {VARIABLE_OP tmp_hunter_type rand {TYPE_LIST}}
    [unit]
    	type=$tmp_hunter_type
        side=$vampirism_hunter_side
        x,y=$vampirism_hunterspawn_x|,$vampirism_hunterspawn_y|
        generate_name=yes
        random_traits=yes
        random_gender=yes
        animate=yes
        to_variable=tmp_vamphunter#the unit isn't immediately spawned on the map, so level can be calculated
        [modifications]
   		[object]
  		    silent=yes
  		    duration=forever
  		    [effect]
  		        apply_to=new_ability
  		        [abilities]
  		          [dummy]
  		             id=vampirism_vampirehunter
  		          [/dummy]
  		        [/abilities]
  		    [/effect]
  		[/object]
        [/modifications]
    [/unit]

    #subtract the unit gold cost from the total hunter budget (can go into negatives though)
    {VARIABLE_OP vampire_hunter_gold sub $tmp_vamphunter.cost}

    [unstore_unit]
        variable=tmp_vamphunter
        find_vacant=yes
        animate=yes
    [/unstore_unit]   

    #hunter buffs:

   	[object]
  	    silent=yes
  	    duration=forever
  	    [filter]
  	    	id=$tmp_vamphunter.id
  	    	type_adv_tree=Swordsman
  	    	[or]
  		    	id=$tmp_vamphunter.id
	  	    	type=Knight
  	    	[/or]
  	    [/filter]
  	    [effect]
  	        apply_to=attack
  	        name=sword
  	        set_description=_"holy sword"
#  	        set_type=arcane
  	        set_icon="attacks/sword-holy.png"
       		[set_specials]
       		    mode=append
       		    {WEAPON_SPECIAL_ARCANE}
       		[/set_specials]
   	    [/effect]
  	[/object]
  	#hunter Shock Troopers/Iron Maulers/Drake Arbiters get tougher armor
   	[object]
  	    silent=yes
  	    duration=forever
  	    [filter]
  	    	id=$tmp_vamphunter.id
  	    	type_adv_tree=Heavy Infantryman,Drake Arbiter
  	    [/filter]
        [effect]
            apply_to=hitpoints
            increase=30%
            increase_total=30%
        [/effect]
  	[/object]
   	[object]
  	    silent=yes
  	    duration=forever
  	    [filter]
  	    	id=$tmp_vamphunter.id
  	    	type_adv_tree=Spearman,Dwarvish Guardsman,Saurian Skirmisher,Saurian Spearthrower,Drake Clasher
  	    [/filter]
  	    [effect]
  	        apply_to=attack
  	        name=spear,pike,javelin,trident
  	        set_description=_"wooden stake"
  	        set_icon="attacks/javelin-orcish.png"
       		[set_specials]
       		    mode=append
       		    {WEAPON_SPECIAL_ANTI_VAMPIRE}
       		[/set_specials]
  	    [/effect]
  	[/object]
  	#dwarf vampire-hunters have special runes on their hammers to fight vampires
   	[object]
  	    silent=yes
  	    duration=forever
  	    [filter]
  	    	id=$tmp_vamphunter.id
  	    	type=Dwarvish Runesmith,Dwarvish Runemaster,Dwarvish Arcanister
  	    [/filter]
  	    [effect]
  	        apply_to=attack
  	        name=hammer
  	        set_description=_"light-rune hammer"
  	        set_icon="attacks/runelord-hammer.png"
       		[set_specials]
       		    mode=append
       		    {WEAPON_SPECIAL_ARCANE}
#       		    {WEAPON_SPECIAL_ANTI_VAMPIRE}
       		[/set_specials]
  	    [/effect]
  	[/object]

   	[object]
  	    silent=yes
  	    duration=forever
  	    [filter]
  	    	id=$tmp_vamphunter.id
  	    	type_adv_tree=Dwarvish Thunderer
  	    [/filter]
  	    [effect]
  	        apply_to=attack
  	        name=thunderstick
  	        set_description=_"double-barrel thunderstick"
  	        increase_damage=-25%
  	        increase_attacks=1
  	    [/effect]
  	    [effect]
  	        apply_to=attack
  	        name=dragonstaff
  	        set_description=_"double-barrel dragonstaff"
  	        increase_damage=-25%
  	        increase_attacks=1
  	    [/effect]
  	[/object]
   	[object]
  	    silent=yes
  	    duration=forever
  	    [filter]
  	    	id=$tmp_vamphunter.id
  	    	type_adv_tree=Elvish Hero,Elvish Lord,Elvish Ranger
  	    [/filter]
  	    [effect]
  	        apply_to=attack
  	        name=sword
  	        set_description=_"faerie sword"
#  	        set_type=arcane
  	        set_icon="attacks/sword-faerie.png"
       		[set_specials]
       		    mode=append
       		    {WEAPON_SPECIAL_ARCANE}
       		[/set_specials]
   	    [/effect]
  	[/object]
  	#augurs become stronger anti-vampire units
   	[object]
  	    silent=yes
  	    duration=forever
  	    [filter]
  	    	id=$tmp_vamphunter.id
  	    	type_adv_tree=Saurian Augur
  	    [/filter]
  	    [effect]
  	        apply_to=attack
  	        name=curse
  	        set_type=arcane
  	        increase_damage=25%
   	    [/effect]
  	[/object]
    {CLEAR_VARIABLE tmp_vamphunter}
    {CLEAR_VARIABLE tmp_hunter_type}
[/do]
[/while]
#enddef

#define VAMPIRISM_DETERMINE_HUNTER_FACTION_PART FILTER ADDED_ROLL_TYPE
	#if you are fighting a specific race, you are near-guaranteed to get hunters from that race
	[if]
	[have_unit]
		{FILTER}
		[filter_side]
			[enemy_of]
				[has_unit]
					ability=vampirism
				[/has_unit]
			[/enemy_of]
			[not]
				[has_unit]
					ability=vampirism
				[/has_unit]
			[/not]
		[/filter_side]
	[/have_unit]
	[then]
		{REPEAT 40 (
			{VARIABLE hunter_faction_random_list $hunter_faction_random_list|,{ADDED_ROLL_TYPE}}
		)}
	[/then]
	[/if]
	#if the player side has human/elf/dwarf/drake/saurian allies, that still increases the chance of that type of hunters spawning, because it still means that race lives in the area
	[if]
	[have_unit]
		{FILTER}
		[filter_side]
			[allied_with]
				[has_unit]
					ability=vampirism
				[/has_unit]
			[/allied_with]
			[not]
				[has_unit]
					ability=vampirism
				[/has_unit]
			[/not]
		[/filter_side]
	[/have_unit]
	[then]
		{REPEAT 4 (
			{VARIABLE hunter_faction_random_list $hunter_faction_random_list|,{ADDED_ROLL_TYPE}}
		)}
	[/then]
	[/if]
#enddef

#define VAMPIRISM_DETERMINE_HUNTER_FACTION
	{VARIABLE hunter_faction_random_list human,human,elf,dwarf,drake}

	#massively increase the probability of fighting a specific hunter faction if you are already fighting the same race/faction

	{VAMPIRISM_DETERMINE_HUNTER_FACTION_PART (
		race=human
		[filter_wml]
			alignment=lawful#so that the 'bonus chance to spawn loyalist vampire-hunters' isn't trigger by outlaws
		[/filter_wml]
	) human}

	{VAMPIRISM_DETERMINE_HUNTER_FACTION_PART race=elf elf}
	{VAMPIRISM_DETERMINE_HUNTER_FACTION_PART race=dwarf dwarf}
	{VAMPIRISM_DETERMINE_HUNTER_FACTION_PART race=drake,lizard drake}

#	[chat]
#		message=_"hunter faction list: $hunter_faction_random_list|"
#	[/chat]
	{VARIABLE_OP hunter_faction rand $hunter_faction_random_list}
	{CLEAR_VARIABLE hunter_faction_random_list}
#enddef

[event]
	name=new turn
	id=vampirism_hunter_spawn
	first_time_only=no
	[filter_condition]
		{VARIABLE_CONDITIONAL vampirism_vamphunters equals yes}
		[and]
			{VARIABLE_CONDITIONAL turn_number equals $vampirism_vamphunters_spawn_turn}
		[/and]
	[/filter_condition]
	{VAMPIRISM_FIND_VALID_SPAWN_AREA_FOR_HUNTERS}

#	[chat]
#		message=_"turn $turn_number| required $vampirism_vamphunters_spawn_turn|"
#	[/chat]

	{IF_VAR vampirism_hunter_side greater_than 0 (
	[and]
		{VARIABLE_CONDITIONAL vampirism_hunterspawn_x greater_than 0}
	[/and]
	[then]
		{VAMPIRISM_CALCULATE_VAMPIRE_HUNTER_GOLD}
		{VAMPIRISM_FIND_HIGHEST_VAMPIRE_LEVEL}

		#the types of vampire hunters depend on the toughest vampire on the map

		{VARIABLE hunter_spawn_list ""}
		#quality of hunter troops scales with hunter gold

		{IF_VAR vampire_hunter_gold greater_than_equal_to 0 (
		[then]
			{VARIABLE hunter_spawn_list_human "Spearman,Peasant"}
			{VARIABLE hunter_spawn_list_elf "Elvish Fighter,Elvish Archer"}
			{VARIABLE hunter_spawn_list_dwarf "Dwarvish Guardsman,Dwarvish Thunderer"}
			{VARIABLE hunter_spawn_list_drake "Drake Clasher,Saurian Skirmisher,Saurian Augur"}
		[/then]
		)}
		{IF_VAR vampire_hunter_gold greater_than_equal_to 100 (
		[then]
			{VARIABLE hunter_spawn_list_human "White Mage,Pikeman,Swordsman,Shock Trooper,Spearman,Spearman,Horseman,Peasant"}
			{VARIABLE hunter_spawn_list_elf "Elvish Sorceress,Elvish Hero,Elvish Marksman,Elvish Ranger,Elvish Fighter,Elvish Archer,Elvish Shaman,Wose"}
			{VARIABLE hunter_spawn_list_dwarf "Dwarvish Stalwart,Dwarvish Thunderguard,Dwarvish Runesmith,Dwarvish Steelclad,Dwarvish Thunderer,Dwarvish Guardsman"}
			{VARIABLE hunter_spawn_list_drake "Fire Drake, Drake Flare, Drake Thrasher, Drake Arbiter, Saurian Ambusher, Saurian Spearthrower, Saurian Oracle, Drake Burner,Drake Clasher,Saurian Skirmisher,Saurian Augur"}
		[/then]
		)}
		{IF_VAR vampire_hunter_gold greater_than_equal_to 200 (
		[then]
			{VARIABLE hunter_spawn_list_human "Paladin,Mage of Light,Knight,Swordsman,Pikeman,Javelineer,White Mage,Spearman,Spearman,Horseman,Shock Trooper"}
			{VARIABLE hunter_spawn_list_elf "Elvish Enchantress,Elvish Sorceress,Elvish Hero,Elvish Lord,Elder Wose,Elvish Fighter,Elvish Marksman,Elvish Ranger,Elvish Archer,Elvish Shaman,Wose"}
			{VARIABLE hunter_spawn_list_dwarf "Dwarvish Dragonguard,Dwarvish Sentinel,Dwarvish Runemaster,Dwarvish Berserker,Dwarvish Stalwart,Dwarvish Steelclad,Dwarvish Thunderguard,Dwarvish Runesmith,Dwarvish Thunderer,Dwarvish Guardsman"}
			{VARIABLE hunter_spawn_list_drake "Drake Flameheart, Drake Warden, Drake Enforcer,Saurian Flanker,Saurian Javelineer, Fire Drake, Drake Flare, Drake Arbiter, Drake Thrasher, Saurian Ambusher, Saurian Oracle, Drake Burner,Drake Clasher,Saurian Skirmisher,Saurian Augur"}
		[/then]
		)}
		{IF_VAR vampire_hunter_gold greater_than_equal_to 350 (
		[then]
			{VARIABLE hunter_spawn_list_human "Paladin,Mage of Light,Royal Guard,Iron Mauler,Knight,Swordsman,Pikeman,Pikeman,Javelineer,White Mage,Shock Trooper"}
			{VARIABLE hunter_spawn_list_elf "Elvish Enchantress,Elvish High Lord,Elvish Champion,Ancient Wose,Elvish Sharpshooter,Elvish Avenger,Elvish Sorceress,Elvish Hero,Elvish Lord,Elder Wose,Elvish Marksman,Elvish Ranger"}
			{VARIABLE hunter_spawn_list_dwarf "Dwarvish Sentinel,Dwarvish Lord,Dwarvish Dragonguard,Dwarvish Runemaster,Dwarvish Berserker,Dwarvish Stalwart,Dwarvish Steelclad,Dwarvish Thunderguard,Dwarvish Runesmith"}
			{VARIABLE hunter_spawn_list_drake "Inferno Drake, Drake Flameheart,Drake Warden,Drake Enforcer,Saurian Flanker,Saurian Prophet,Saurian Javelineer, Fire Drake, Drake Flare, Drake Thrasher, Drake Arbiter, Saurian Ambusher, Saurian Oracle"}
		[/then]
		)}

		{VAMPIRISM_DETERMINE_HUNTER_FACTION}

		{VARIABLE hunter_spawn_list $hunter_spawn_list_$hunter_faction||}

		{VARIABLE vampirism_hunter_squads 1}

		{IF_VAR vampire_hunter_gold greater_than_equal_to 200 (
		[then]
			{VARIABLE vampirism_hunter_squads 2}
		[/then]
		)}
		{IF_VAR vampire_hunter_gold greater_than_equal_to 400 (
		[then]
			{VARIABLE vampirism_hunter_squads 3}
		[/then]
		)}
		{IF_VAR vampire_hunter_gold greater_than_equal_to 700 (
		[then]
			{VARIABLE vampirism_hunter_squads 4}
		[/then]
		)}
		{IF_VAR vampire_hunter_gold greater_than_equal_to 1000 (
		[then]
			{VARIABLE vampirism_hunter_squads 5}
		[/then]
		)}
		{IF_VAR vampire_hunter_gold greater_than_equal_to 1500 (
		[then]
			{VARIABLE vampirism_hunter_squads 6}
		[/then]
		)}
		{IF_VAR vampire_hunter_gold greater_than_equal_to 2000 (
		[then]
			{VARIABLE vampirism_hunter_squads 7}
		[/then]
		)}

		{VARIABLE vampire_hunter_gold_per_squad $vampire_hunter_gold}
		{VARIABLE_OP vampire_hunter_gold_per_squad divide $vampirism_hunter_squads}
		{VARIABLE_OP vampire_hunter_gold_per_squad round floor}

		{REPEAT $vampirism_hunter_squads (
			{VARIABLE vampire_hunter_gold $vampire_hunter_gold_per_squad}
			{VAMPIRISM_FIND_VALID_SPAWN_AREA_FOR_HUNTERS}
			{VAMPIRISM_SPAWN_HUNTER_UNITS $hunter_spawn_list}
		)}
		{CLEAR_VARIABLE vampire_hunter_gold_per_squad}

	[/then]
	)}
[/event]


#code used to count how many scenarios have already passed 

    #this is to avoid dialog/cutscene scenarios from counting towards scaling

    [event]
        name=side 1 turn refresh
        id=vampirism_hunter_cutscene_check1
        first_time_only=no
        {VARIABLE vampirism_hunter_scenariostarted yes}
    [/event]

    #scenarios with either no enemies or ones that don't reach turn 1 (aka start-only cutscenes) do not count towards the enemy scaling

    [event]
        name=victory
        id=vampirism_hunter_victory_buffs
        first_time_only=no
        {IF_VAR vampirism_hunter_scenariostarted equals yes (
        [and]
            {VARIABLE_CONDITIONAL vampirism_hunter_at_least_one_enemy equals yes}
        [/and]
        [then]
            {VARIABLE_OP vampirism_hunter_completed_scenarios_amount add 1}
        [/then]
        [else]
            #variable used just for debugging purposes (which scenarios gets counted as a cutscene)
            {VARIABLE_OP vampirism_hunter_cutscene_scenarios_amount add 1}
        [/else]
        )}
        {CLEAR_VARIABLE vampirism_hunter_scenariostarted}
        {CLEAR_VARIABLE vampirism_hunter_at_least_one_enemy}
    [/event]

    [event]
        name=unit placed
        first_time_only=no
        id=vampirism_hunter_unit_buff
        [filter]
            [filter_side]
				[enemy_of]
					[has_unit]
						ability=vampirism
					[/has_unit]
				[/enemy_of]
            [/filter_side]
        [/filter]
        [filter_condition]
            {VARIABLE_CONDITIONAL vampirism_hunter_at_least_one_enemy not_equals yes}
        [/filter_condition]

        [if]
        [have_unit]
            id=$unit.id
            [filter_side]
				[enemy_of]
					[has_unit]
						ability=vampirism
					[/has_unit]
				[/enemy_of]
            [/filter_side]
        [/have_unit]
        [then]
            {VARIABLE vampirism_hunter_at_least_one_enemy yes}#important for the cutscene check
        [/then]
        [/if]
    [/event]