#textdomain wesnoth-units
#dummy unit used for determining the spawn location of vampire hunter squads. unlike Fog Clearer, this unit uses the smallfoot movetype instead of flying, to ensure the spawn location is never in deep water/unwalkable
[unit_type]
    id=Vampirism_Dummy_Unit
    name=_ "dummy_unit^Dummy Unit"
    race=none
    image="misc/blank-hex.png"
    hitpoints=1
    movement_type=smallfoot
    movement=1
    experience=1
    level=0
    alignment=neutral
    advances_to=null
    cost=1
    usage=scout
    hide_help=yes
    do_not_list=yes
[/unit_type]
